In [111]:
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import pandas as pd

In [132]:
missing_values=["?", "\t?"]
kidney = pd.read_csv("kidney_disease.csv", na_values=missing_values)
banknote = pd.read_csv("BankNoteAuthentication.csv")

In [113]:
kidney.dtypes

id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object

In [114]:
banknote.dtypes

variance    float64
skewness    float64
curtosis    float64
entropy     float64
class         int64
dtype: object

In [165]:
kidney.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd

In [177]:
cls = kidney["classification"]
cls = cls.str.strip()
cls = pd.get_dummies(cls)
cls

     ckd  notckd
0      1       0
1      1       0
2      1       0
3      1       0
4      1       0
..   ...     ...
395    0       1
396    0       1
397    0       1
398    0       1
399    0       1

[400 rows x 2 columns]

In [265]:
from sklearn.preprocessing import LabelEncoder
def preprocessing(df):
    cat_col = df.select_dtypes(include=['object']).columns
    num_col = [x for x in df.columns if x not in cat_col]
    label_col = df.columns[-1]

    
    for x in num_col:
        mean = df[x].mean()
        df[x]=df[x].fillna(mean)
        minimum = df[x].min()
        maximum = df[x].max()
        
        df[x]=(df[x]-minimum)/(maximum-minimum)
        
        
        
        
        
    for y in cat_col :
        df[y]=df[y].str.strip()
        
    le = LabelEncoder()
    le.fit(df[label_col])
    label = le.transform(df[label_col])
    df = df.drop([label_col], axis = 1)
    df1 = pd.get_dummies(df)
    df1[label_col] = label
    
    
    return df1

In [250]:
df.columns

Index(['classification', 'id_0.0', 'id_0.002506265664160401',
       'id_0.005012531328320802', 'id_0.007518796992481203',
       'id_0.010025062656641603', 'id_0.012531328320802004',
       'id_0.015037593984962405', 'id_0.017543859649122806',
       'id_0.020050125313283207',
       ...
       'dm_no', 'dm_yes', 'cad_no', 'cad_yes', 'appet_good', 'appet_poor',
       'pe_no', 'pe_yes', 'ane_no', 'ane_yes'],
      dtype='object', length=1251)

In [266]:
df = preprocessing(kidney)
df1 = preprocessing(banknote)

In [259]:
kidney['classification'].str.encode(encoding)

TypeError: encode() missing 1 required positional argument: 'encoding'

In [267]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_yes,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes,classification
0,0.000000,0.522727,0.230769,0.75,0.2,0.0,0.211538,0.088575,0.010582,0.839298,...,1,1,0,1,0,1,0,1,0,0
1,0.002506,0.056818,0.000000,0.75,0.8,0.0,0.269309,0.042362,0.005291,0.839298,...,0,1,0,1,0,1,0,1,0,0
2,0.005013,0.681818,0.230769,0.25,0.4,0.6,0.856838,0.132221,0.018519,0.839298,...,1,1,0,0,1,1,0,0,1,0
3,0.007519,0.522727,0.153846,0.00,0.8,0.0,0.202991,0.139923,0.044974,0.671924,...,0,1,0,0,1,0,1,0,1,0
4,0.010025,0.556818,0.230769,0.25,0.4,0.0,0.179487,0.062901,0.013228,0.839298,...,0,1,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.989975,0.602273,0.230769,0.75,0.0,0.0,0.252137,0.121951,0.001323,0.917981,...,0,1,0,1,0,1,0,1,0,1
396,0.992481,0.454545,0.153846,1.00,0.0,0.0,0.113248,0.075738,0.010582,0.861199,...,0,1,0,1,0,1,0,1,0,1
397,0.994987,0.113636,0.230769,0.75,0.0,0.0,0.166667,0.062901,0.002646,0.835962,...,0,1,0,1,0,1,0,1,0,1
398,0.997494,0.170455,0.076923,1.00,0.0,0.0,0.196581,0.124519,0.007937,0.823344,...,0,1,0,1,0,1,0,1,0,1
399,1.000000,0.636364,0.230769,1.00,0.0,0.0,0.232906,0.042362,0.009259,0.861199,...,0,1,0,1,0,1,0,1,0,1

In [273]:
df1.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [269]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

def split(df):
    X = df.iloc[:, :-1].values
    labels = df.iloc[:,-1].values
    
    X_train, X_test, y_train, y_test = train_test_split(X, labels, test_size=0.2, shuffle = True)
    kf = KFold(n_splits=10, shuffle=True)
    kf.get_n_splits(X_train)
    
    
    return X_train, X_test, y_train, y_test, kf.split(X_train)

In [243]:
df.iloc[:,:-1]

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_yes,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes,classification_ckd
0,0.000000,0.522727,0.230769,0.75,0.2,0.0,0.211538,0.088575,0.010582,0.839298,...,1,1,0,1,0,1,0,1,0,1
1,0.002506,0.056818,0.000000,0.75,0.8,0.0,0.269309,0.042362,0.005291,0.839298,...,0,1,0,1,0,1,0,1,0,1
2,0.005013,0.681818,0.230769,0.25,0.4,0.6,0.856838,0.132221,0.018519,0.839298,...,1,1,0,0,1,1,0,0,1,1
3,0.007519,0.522727,0.153846,0.00,0.8,0.0,0.202991,0.139923,0.044974,0.671924,...,0,1,0,0,1,0,1,0,1,1
4,0.010025,0.556818,0.230769,0.25,0.4,0.0,0.179487,0.062901,0.013228,0.839298,...,0,1,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.989975,0.602273,0.230769,0.75,0.0,0.0,0.252137,0.121951,0.001323,0.917981,...,0,1,0,1,0,1,0,1,0,0
396,0.992481,0.454545,0.153846,1.00,0.0,0.0,0.113248,0.075738,0.010582,0.861199,...,0,1,0,1,0,1,0,1,0,0
397,0.994987,0.113636,0.230769,0.75,0.0,0.0,0.166667,0.062901,0.002646,0.835962,...,0,1,0,1,0,1,0,1,0,0
398,0.997494,0.170455,0.076923,1.00,0.0,0.0,0.196581,0.124519,0.007937,0.823344,...,0,1,0,1,0,1,0,1,0,0
399,1.000000,0.636364,0.230769,1.00,0.0,0.0,0.232906,0.042362,0.009259,0.861199,...,0,1,0,1,0,1,0,1,0,0

In [274]:
X_train, X_test, y_train, y_test, folds = split(df1)

In [236]:
for train_index, test_index in folds:
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [  0   1   3   4   5   6   7   8   9  10  12  13  14  15  16  17  18  19
  20  21  24  26  27  28  29  30  31  32  33  34  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59
  60  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77
  78  79  81  82  83  84  85  86  87  88  89  90  91  93  94  95  96  97
  98  99 100 102 103 104 105 107 108 109 110 111 112 113 114 116 117 118
 119 120 122 123 124 125 126 127 128 130 131 132 133 134 135 136 137 138
 139 140 141 142 143 144 145 146 147 148 149 150 151 152 153 154 155 156
 157 158 159 160 161 162 163 164 165 166 168 169 170 171 172 173 175 176
 177 178 179 180 181 182 184 185 186 187 188 189 190 191 193 194 195 196
 197 198 199 200 202 203 205 206 208 209 210 211 213 214 215 216 217 218
 219 220 221 222 223 224 225 226 227 229 230 231 232 233 234 235 236 237
 238 239 240 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257
 258 259 260 261 262 263 264 265 266 267 268 269 272 273 274 275 276 277
 278 279 280 282 283 284 285 286 287 288 289 290 291 292 293 294 296 297
 298 300 301 304 305 306 308 309 310 311 312 313 314 315 316 317 318 319] TEST: [  2  11  22  23  25  35  80  92 101 106 115 121 129 167 174 183 192 201
 204 207 212 228 241 242 270 271 281 295 299 302 303 307]
TRAIN: [  0   1   2   3   4   5   6   7   9  10  11  12  13  14  15  16  17  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  52  54  55  56  57  58  60
  61  62  63  64  66  68  69  71  72  73  74  75  76  77  78  80  81  82
  83  85  86  87  88  89  91  92  93  94  95  96  97  98  99 100 101 102
 103 104 105 106 107 108 109 110 111 112 113 115 116 117 118 119 120 121
 122 123 124 125 127 128 129 130 131 132 133 134 135 136 137 138 139 140
 141 142 143 144 145 146 147 148 149 150 151 152 154 155 156 157 158 159
 160 161 162 163 164 165 166 167 168 169 171 172 174 175 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 199 200 201
 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219
 220 222 223 224 225 226 228 229 231 232 234 235 236 237 238 239 240 241
 242 243 244 245 246 248 250 251 252 253 254 255 256 257 258 259 260 261
 262 263 264 265 266 267 268 269 270 271 272 273 274 275 277 278 279 280
 281 282 283 284 285 286 287 288 289 291 292 294 295 296 297 298 299 300
 301 302 303 304 305 306 307 308 309 310 311 312 314 315 316 317 318 319] TEST: [  8  18  33  50  51  53  59  65  67  70  79  84  90 114 126 153 170 173
 176 177 197 198 221 227 230 233 247 249 276 290 293 313]
TRAIN: [  0   1   2   4   5   6   8   9  10  11  12  13  15  16  17  18  19  20
  21  22  23  24  25  26  27  28  30  31  33  34  35  36  39  40  41  42
  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58  59  60
  61  62  63  65  66  67  68  69  70  71  72  73  74  75  76  77  79  80
  81  82  83  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98
  99 100 101 102 103 104 105 106 107 108 109 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 128 129 130 131 132 133 134 135 136
 137 138 139 141 142 143 144 145 146 148 149 150 151 152 153 154 155 156
 157 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174
 175 176 177 178 179 180 181 182 183 184 185 187 188 190 191 192 193 194
 195 196 197 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212
 213 214 215 216 217 218 221 222 223 225 226 227 228 229 230 231 232 233
 234 235 236 237 241 242 243 245 246 247 248 249 250 252 253 256 257 259
 260 261 263 264 265 266 267 268 270 271 272 273 274 275 276 277 279 281
 282 283 284 285 286 287 288 289 290 291 292 293 294 295 297 298 299 300
 301 302 303 304 305 306 307 308 309 310 311 312 313 314 315 317 318 319] TEST: [  3   7  14  29  32  37  38  64  78 110 127 140 147 186 189 219 220 224
 238 239 240 244 251 254 255 258 262 269 278 280 296 316]
TRAIN: [  0   2   3   4   6   7   8   9  10  11  14  15  16  17  18  20  21  22
  23  24  25  26  28  29  30  31  32  33  34  35  36  37  38  40  41  42
  43  44  45  46  47  48  49  50  51  52  53  55  58  59  60  62  63  64
  65  66  67  69  70  71  72  73  75  76  77  78  79  80  81  82  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 103 104
 105 106 107 108 109 110 111 112 113 114 115 116 118 119 120 121 122 123
 124 125 126 127 128 129 130 131 132 133 134 135 137 138 140 141 142 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 186 187 188 189 191 192 193 194 195 196 197 198 199 200 201
 204 205 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222
 223 224 225 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241
 242 243 244 245 246 247 249 250 251 252 253 254 255 256 258 259 260 261
 262 263 264 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281
 282 283 284 285 286 287 288 289 290 292 293 294 295 296 297 298 299 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319] TEST: [  1   5  12  13  19  27  39  54  56  57  61  68  74  83 102 117 136 139
 143 168 185 190 202 203 206 226 248 257 265 266 291 300]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  11  12  13  14  15  16  18  19
  20  22  23  24  25  26  27  28  29  30  31  32  33  34  35  37  38  39
  40  41  43  44  45  46  47  48  49  50  51  52  53  54  55  56  57  58
  59  60  61  63  64  65  67  68  70  71  72  73  74  77  78  79  80  82
  83  84  85  86  87  88  89  90  91  92  93  94  95  96  98  99 100 101
 102 104 105 106 107 110 113 114 115 116 117 118 119 120 121 122 123 124
 125 126 127 128 129 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 147 148 149 150 151 152 153 154 156 157 158 159 160 161 162 163 165
 166 167 168 170 171 173 174 176 177 178 179 180 181 182 183 184 185 186
 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204
 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222
 224 226 227 228 229 230 231 233 234 235 237 238 239 240 241 242 243 244
 245 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262 263
 264 265 266 267 268 269 270 271 272 273 274 275 276 277 278 279 280 281
 283 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300
 301 302 303 304 305 306 307 308 309 310 312 313 314 315 316 317 318 319] TEST: [ 10  17  21  36  42  62  66  69  75  76  81  97 103 108 109 111 112 130
 131 146 155 164 169 172 175 223 225 232 236 246 282 311]
TRAIN: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  21  22  23  25  26  27  28  29  30  31  32  33  34  35  36  37  38
  39  40  42  43  45  46  49  50  51  52  53  54  55  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76  77  78
  79  80  81  82  83  84  85  86  87  88  89  90  92  94  95  97 100 101
 102 103 104 106 107 108 109 110 111 112 113 114 115 117 118 119 121 122
 123 124 126 127 128 129 130 131 132 133 134 136 137 139 140 141 142 143
 144 145 146 147 150 151 152 153 155 156 157 158 159 160 162 163 164 166
 167 168 169 170 171 172 173 174 175 176 177 179 180 181 183 184 185 186
 187 188 189 190 191 192 193 194 195 196 197 198 199 200 201 202 203 204
 205 206 207 208 209 211 212 213 214 215 216 217 219 220 221 222 223 224
 225 226 227 228 230 231 232 233 234 235 236 237 238 239 240 241 242 243
 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260 261
 262 264 265 266 267 268 269 270 271 273 274 275 276 277 278 279 280 281
 282 284 285 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300
 301 302 303 304 305 306 307 309 310 311 312 313 314 315 316 317 318 319] TEST: [  0  20  24  41  44  47  48  91  93  96  98  99 105 116 120 125 135 138
 148 149 154 161 165 178 182 210 218 229 263 272 283 308]
TRAIN: [  0   1   2   3   5   6   7   8   9  10  11  12  13  14  16  17  18  19
  20  21  22  23  24  25  27  28  29  32  33  35  36  37  38  39  40  41
  42  43  44  45  46  47  48  49  50  51  52  53  54  56  57  58  59  60
  61  62  63  64  65  66  67  68  69  70  71  72  74  75  76  77  78  79
  80  81  82  83  84  85  86  87  89  90  91  92  93  94  95  96  97  98
  99 100 101 102 103 104 105 106 108 109 110 111 112 113 114 115 116 117
 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133 135 136
 138 139 140 141 142 143 144 146 147 148 149 150 151 153 154 155 156 157
 159 160 161 162 163 164 165 166 167 168 169 170 172 173 174 175 176 177
 178 179 180 181 182 183 184 185 186 188 189 190 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 209 210 211 212 215 217 218 219
 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 236 237 238
 239 240 241 242 243 244 245 246 247 248 249 250 251 252 254 255 256 257
 258 259 262 263 264 265 266 268 269 270 271 272 273 274 275 276 278 279
 280 281 282 283 284 285 286 287 289 290 291 292 293 294 295 296 297 299
 300 301 302 303 304 305 306 307 308 309 310 311 312 313 316 317 318 319] TEST: [  4  15  26  30  31  34  55  73  88 107 134 137 145 152 158 171 187 191
 208 213 214 216 235 253 260 261 267 277 288 298 314 315]
TRAIN: [  0   1   2   3   4   5   6   7   8  10  11  12  13  14  15  17  18  19
  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  44  46  47  48  49  50  51  53  54  55  56  57  58
  59  60  61  62  63  64  65  66  67  68  69  70  71  73  74  75  76  77
  78  79  80  81  82  83  84  86  87  88  89  90  91  92  93  94  95  96
  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 114 115
 116 117 118 120 121 125 126 127 129 130 131 133 134 135 136 137 138 139
 140 141 143 144 145 146 147 148 149 150 151 152 153 154 155 158 159 161
 162 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 181 182
 183 185 186 187 188 189 190 191 192 194 195 196 197 198 200 201 202 203
 204 205 206 207 208 209 210 211 212 213 214 215 216 218 219 220 221 222
 223 224 225 226 227 228 229 230 232 233 234 235 236 237 238 239 240 241
 242 243 244 246 247 248 249 250 251 252 253 254 255 256 257 258 259 260
 261 262 263 264 265 266 267 269 270 271 272 274 276 277 278 280 281 282
 283 284 285 286 287 288 289 290 291 293 294 295 296 297 298 299 300 301
 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319] TEST: [  9  16  43  45  52  72  85 113 119 122 123 124 128 132 142 156 157 160
 163 179 180 184 193 199 217 231 245 268 273 275 279 292]
TRAIN: [  0   1   2   3   4   5   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  29  30  31  32  33  34  35  36  37
  38  39  40  41  42  43  44  45  47  48  50  51  52  53  54  55  56  57
  58  59  61  62  63  64  65  66  67  68  69  70  71  72  73  74  75  76
  78  79  80  81  82  83  84  85  87  88  90  91  92  93  94  95  96  97
  98  99 100 101 102 103 104 105 106 107 108 109 110 111 112 113 114 115
 116 117 118 119 120 121 122 123 124 125 126 127 128 129 130 131 132 133
 134 135 136 137 138 139 140 141 142 143 144 145 146 147 148 149 152 153
 154 155 156 157 158 160 161 163 164 165 167 168 169 170 171 172 173 174
 175 176 177 178 179 180 181 182 183 184 185 186 187 188 189 190 191 192
 193 195 197 198 199 201 202 203 204 206 207 208 209 210 212 213 214 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 235
 236 238 239 240 241 242 243 244 245 246 247 248 249 251 252 253 254 255
 256 257 258 260 261 262 263 265 266 267 268 269 270 271 272 273 275 276
 277 278 279 280 281 282 283 285 286 288 290 291 292 293 295 296 297 298
 299 300 301 302 303 304 306 307 308 309 310 311 312 313 314 315 316 319] TEST: [  6  28  46  49  60  77  86  89 150 151 159 162 166 194 196 200 205 211
 215 234 237 250 259 264 274 284 287 289 294 305 317 318]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  59  60  61  62  64  65  66  67  68  69  70  72  73  74  75
  76  77  78  79  80  81  83  84  85  86  88  89  90  91  92  93  96  97
  98  99 101 102 103 105 106 107 108 109 110 111 112 113 114 115 116 117
 119 120 121 122 123 124 125 126 127 128 129 130 131 132 134 135 136 137
 138 139 140 142 143 145 146 147 148 149 150 151 152 153 154 155 156 157
 158 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173 174 175
 176 177 178 179 180 182 183 184 185 186 187 189 190 191 192 193 194 196
 197 198 199 200 201 202 203 204 205 206 207 208 210 211 212 213 214 215
 216 217 218 219 220 221 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 244 245 246 247 248 249 250 251 253 254
 255 257 258 259 260 261 262 263 264 265 266 267 268 269 270 271 272 273
 274 275 276 277 278 279 280 281 282 283 284 287 288 289 290 291 292 293
 294 295 296 298 299 300 302 303 305 307 308 311 313 314 315 316 317 318] TEST: [ 40  58  63  71  82  87  94  95 100 104 118 133 141 144 181 188 195 209
 222 243 252 256 285 286 297 301 304 306 309 310 312 319]

In [275]:
from sklearn.svm import LinearSVC
svm_clf = LinearSVC(C=1, loss="hinge")
svm_clf.fit(X_train, y_train)

C:\Users\hatim\.julia\conda\3\lib\site-packages\sklearn\svm\_base.py:976: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

LinearSVC(C=1, loss='hinge')

In [272]:
from sklearn.metrics import accuracy_score
y_pred = svm_clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9875

In [276]:
from sklearn.metrics import accuracy_score
y_pred = svm_clf.predict(X_test)
accuracy_score(y_test,y_pred)

0.9709090909090909