In [2]:
import matplotlib.pyplot as plt
import numpy as np
import scipy as sp
import pandas as pd

In [3]:
missing_values=["?", "\t?"]
kidney = pd.read_csv("kidney_disease.csv", na_values=missing_values)
banknote = pd.read_csv("BankNoteAuthentication.csv")

In [4]:
kidney.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000,329.000000,294.000000,269.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587,8.990105,2944.474190,1.025323
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000,32.000000,6500.000000,3.900000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000,40.000000,8000.000000,4.800000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000,45.000000,9800.000000,5.400000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

In [5]:
banknote.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [6]:
kidney.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [7]:
banknote.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [8]:
from sklearn.preprocessing import LabelEncoder
def preprocessing(df):
    cat_col = df.select_dtypes(include=['object']).columns
    num_col = [x for x in df.columns if x not in cat_col]
    label_col = df.columns[-1]

    
    for x in num_col:
        mean = df[x].mean()
        df[x]=df[x].fillna(mean)
        minimum = df[x].min()
        maximum = df[x].max()
        
        df[x]=(df[x]-minimum)/(maximum-minimum)
        
        
        
    for y in cat_col :
        df[y]=df[y].str.strip()
        
    le = LabelEncoder()
    le.fit(df[label_col])
    label = le.transform(df[label_col])
    df = df.drop([label_col], axis = 1)
    df1 = pd.get_dummies(df)
    df1[label_col] = label
    
    
    return df1

In [9]:
df = preprocessing(kidney)
df1 = preprocessing(banknote)

In [10]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,dm_yes,cad_no,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes,classification
0,0.000000,0.522727,0.230769,0.75,0.2,0.0,0.211538,0.088575,0.010582,0.839298,...,1,1,0,1,0,1,0,1,0,0
1,0.002506,0.056818,0.000000,0.75,0.8,0.0,0.269309,0.042362,0.005291,0.839298,...,0,1,0,1,0,1,0,1,0,0
2,0.005013,0.681818,0.230769,0.25,0.4,0.6,0.856838,0.132221,0.018519,0.839298,...,1,1,0,0,1,1,0,0,1,0
3,0.007519,0.522727,0.153846,0.00,0.8,0.0,0.202991,0.139923,0.044974,0.671924,...,0,1,0,0,1,0,1,0,1,0
4,0.010025,0.556818,0.230769,0.25,0.4,0.0,0.179487,0.062901,0.013228,0.839298,...,0,1,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,0.989975,0.602273,0.230769,0.75,0.0,0.0,0.252137,0.121951,0.001323,0.917981,...,0,1,0,1,0,1,0,1,0,1
396,0.992481,0.454545,0.153846,1.00,0.0,0.0,0.113248,0.075738,0.010582,0.861199,...,0,1,0,1,0,1,0,1,0,1
397,0.994987,0.113636,0.230769,0.75,0.0,0.0,0.166667,0.062901,0.002646,0.835962,...,0,1,0,1,0,1,0,1,0,1
398,0.997494,0.170455,0.076923,1.00,0.0,0.0,0.196581,0.124519,0.007937,0.823344,...,0,1,0,1,0,1,0,1,0,1
399,1.000000,0.636364,0.230769,1.00,0.0,0.0,0.232906,0.042362,0.009259,0.861199,...,0,1,0,1,0,1,0,1,0,1

In [11]:
df['classification'].value_counts()

0    250
1    150
Name: classification, dtype: int64

In [12]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
rbc_abnormal      0
rbc_normal        0
pc_abnormal       0
pc_normal         0
pcc_notpresent    0
pcc_present       0
ba_notpresent     0
ba_present        0
htn_no            0
htn_yes           0
dm_no             0
dm_yes            0
cad_no            0
cad_yes           0
appet_good        0
appet_poor        0
pe_no             0
pe_yes            0
ane_no            0
ane_yes           0
classification    0
dtype: int64

In [13]:
df1.isnull().sum()

variance    0
skewness    0
curtosis    0
entropy     0
class       0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold

def split(df):
    X = df.iloc[:, :-1].values
    labels = df.iloc[:,-1].values
    
    X_train, X_test, y_train, y_test = train_test_split(X, labels, test_size=0.1, shuffle=False)
    kf = KFold(n_splits=10, shuffle=True)
    kf.get_n_splits(X_train)
    
    
    return X_train, X_test, y_train, y_test, kf.split(X_train)

In [16]:
X_train, X_test, y_train, y_test, folds = split(df)

In [17]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score, classification_report

In [18]:
tree = DecisionTreeClassifier() # Decision Trees
gnb = GaussianNB() # Naive Bayes
knn = KNeighborsClassifier() # k-Nearest Neighbors
svm = SVC() # Support Vector Machine
lreg = LogisticRegression() # Logistic Regression

In [19]:
models = [tree, gnb, knn, svm, lreg]

In [20]:
for model in models:
    print(type(model).__name__)

DecisionTreeClassifier
GaussianNB
KNeighborsClassifier
SVC
LogisticRegression

In [21]:
for model in models:
    model.fit(X_train, y_train) # fit the model 
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)
    clf_report = classification_report(y_test, y_pred)
    print(f'The accuracy of model {type(model).__name__} is {accuracy: .2f}')
    print(clf_report)
    print('\n')

The accuracy of model DecisionTreeClassifier is  1.00
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        40

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40



The accuracy of model GaussianNB is  1.00
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        40

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40



The accuracy of model KNeighborsClassifier is  1.00
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        40

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40



The accuracy of model SVC is  1.00
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        40

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40



The accuracy of model LogisticRegression is  1.00
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        40

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40

In [22]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(lreg, X_train, y_train, cv=10, scoring='f1')
scores

array([1.        , 1.        , 0.95238095, 1.        , 1.        ,
       1.        , 1.        , 0.95652174, 1.        , 0.95652174])